
body { 
    background-color: black;
}

.ig-post {
    width: 500px;
    height: 800px;
    background-color: white;
    margin: 50px auto;
}
.ig-header {
    width: 100%;
    height: 8%;
    display: flex; 
}

.logo {
    width: 7%;
    margin-left: 15px;
}

.titles {
    width: 80%;
}

.menu {
    width: 10%;
}

.title1 {
    margin: 10px 0 0 0; 
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.title2 {
   margin: 0 0 0 0;
   font-family: Arial;
}

.html-logo {
    margin-top: 10px;
}

.html-dots {
    margin-top: 10px;
    width: 80%;
}

.ig-img {
    width: 500px;
    height: 500px;

}
.ig-comments {
    margin: 10px 10px 20px 20px; 
}

.likes {
    margin: 5px 0 0 20px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.paragraph {
    margin: 10px 20px 10px 20px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.heart-icon {
    width: 40px;
}

.comment-icon {
    width: 40px;
}

.share-icon {
    width: 40px; 
}

.bookmark-icon {
    width: 40px; 
    margin-left: 290px;
}

